.icone {
  width: 21px;
  cursor: pointer;
}
@media all and (max-width: 680px) and (min-width: 0px) {
  .icone {
    width: 18px;
  }
}

.linkNoActive {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.lineSimple {
  padding: 0px;
  margin: 0px;
  height: 0.00001px;
}

.noClick {
  display: none;
  width: 0px;
  padding: 0px;
  margin: 0px;
}

.click {
  display: block;
}
@media all and (max-width: 1800px) and (min-width: 1025px) {
  .click {
    width: 20vw !important;
  }
}
@media all and (max-width: 1024px) and (min-width: 681px) {
  .click {
    width: 40vw !important;
  }
}
@media all and (max-width: 680px) and (min-width: 0px) {
  .click {
    width: 90vw !important;
    height: 76vh;
  }
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #f7f2f2;
  color: #000000;
}

.main {
  padding: 0px;
  margin: 0px;
}
.main__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: auto;
  margin: 0px;
  background-color: #ffffff;
}
@media all and (max-width: 680px) and (min-width: 0px) {
  .main__header {
    display: grid;
    grid-template-columns: repeat(1fr, 5);
    grid-template-rows: repeat(1fr, 2);
    grid-template-areas: "btnCategory title title basket btnNav" "form form form form form";
  }
}
.main__header--btnCategory {
  flex: 1;
  grid-area: btnCategory;
  border-radius: 100%;
}
.main__header--btnCategory img {
  padding: 15px 10px 10px 10px;
  margin: 10px;
  transition: transform 0.3s;
}
.main__header--btnCategory img:hover {
  background-color: #f7f2f2;
}
.main__header--title {
  flex: 1;
  grid-area: title;
  font-size: 2.1vw;
  padding: 0px;
  margin: 0px;
}
@media all and (max-width: 680px) and (min-width: 0px) {
  .main__header--title {
    font-size: 4vw;
  }
}
.main__header--form {
  flex: 4;
  background-color: #f7f2f2;
  border-radius: 20px;
}
@media all and (max-width: 680px) and (min-width: 0px) {
  .main__header--form {
    grid-area: form;
    padding: 10px 0px;
    margin: 10px 0px;
  }
}
.main__header--form input {
  outline: none;
  border: none;
  height: 30px;
  border-radius: 10px;
  background-color: #f7f2f2;
}
.main__header--form span {
  padding: 2px;
  margin: 0px;
  border-left: 1px solid black;
}
.main__header--form input:nth-child(1) {
  width: 75%;
}
@media all and (max-width: 680px) and (min-width: 0px) {
  .main__header--form input:nth-child(1) {
    width: 70%;
  }
}
.main__header--form input:nth-child(1)::placeholder {
  color: grey;
  font-style: italic;
  text-indent: 20px;
}
.main__header--form input:nth-child(2) {
  width: 20%;
}
@media all and (max-width: 680px) and (min-width: 0px) {
  .main__header--form input:nth-child(2) {
    width: 25%;
  }
}
.main__header--basket {
  flex: 1;
  grid-area: basket;
  padding: 0px;
  margin: 0px;
}
.main__header--basket img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30%;
  margin: 0px;
}
.main__header--btnNav {
  flex: 1;
  grid-area: btnNav;
  padding: 0px;
  margin: 0px;
}
.main__header--btnNav img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 30%;
  margin: 0px;
}
.main__category {
  z-index: 2;
  width: 0px;
  background-color: #ffffff;
  color: #000000;
  transition: all 0.6s;
  position: absolute;
}
.main__category--parentList {
  opacity: 0;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}
.main__category--parentList-child {
  list-style: none;
}
.main__nav {
  z-index: 2;
  width: 0px;
  background-color: #ffffff;
  color: #000000;
  transition: all 0.6s;
  position: absolute;
  right: 0;
}
.main__nav--parentList {
  opacity: 0;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}
.main__nav--parentList-child {
  list-style: none;
}
.main__carousel {
  position: absolute;
  padding: 0px;
  margin: 0px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 6px;
}
@media all and (max-width: 1800px) and (min-width: 1025px) {
  .main__carousel {
    width: 100vw;
    height: 80vh;
  }
}
@media all and (max-width: 1024px) and (min-width: 681px) {
  .main__carousel {
    width: 100vw;
    height: 50vh;
  }
}
@media all and (max-width: 680px) and (min-width: 0px) {
  .main__carousel {
    width: 100vw;
    height: 50vh;
  }
}
.main__carousel--main {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
@media all and (max-width: 1800px) and (min-width: 1025px) {
  .main__carousel--main {
    width: 75vw;
    height: 70vh;
  }
}
@media all and (max-width: 1024px) and (min-width: 681px) {
  .main__carousel--main {
    width: 85vw;
    height: 40vh;
  }
}
@media all and (max-width: 680px) and (min-width: 0px) {
  .main__carousel--main {
    width: 95vw;
    height: 45vh;
  }
}
.main__carousel--main div ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__carousel--main div ul li {
  padding: 8px;
  margin: 5px;
  border-radius: 100%;
  background-color: #fff;
}
.main__carousel--main ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 1s;
}
.main__carousel--main ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 1800px) and (min-width: 1025px) {
  .main__carousel--main ul a img {
    width: 75vw;
    height: 70vh;
  }
}
@media all and (max-width: 1024px) and (min-width: 681px) {
  .main__carousel--main ul a img {
    width: 85vw;
    height: 40vh;
  }
}
@media all and (max-width: 680px) and (min-width: 0px) {
  .main__carousel--main ul a img {
    width: 95vw;
    height: 45vh;
  }
}

/*# sourceMappingURL=style.css.map */
