/// @type string
$principaleBackgroundColor : #f7f2f2;
/// @type string
$principaleTextColor : #000000;
/// @type string 
$principaleLinkColor : #000000;


//=== === === === === === === === === === === === 

///@type string 
$secondaryBackgroundColor : #ffffff;

//=== === === === === === === === === === === === 
/// @type string 
$btnColor : #063884;


$alertGoodBorderColor : #00ff00;
$alertGoodBackgroundColor : #89fc89bd;
$alertGoodTextColor : #087e08d4;

$alertDangerBorderColor : #ff0000;
$alertDangerBackgroundColor : #f06f6fba;
$alertDangerTextColor : #5e0a0ade;
